<div *ngIf="loading$ | async" class="loading-indicator">
  Chargement des données...
</div>

<div *ngIf="error$ | async as error" class="error-message">
  {{ error }}
</div>

<div *ngIf="!(loading$ | async) && !(error$ | async)">
  <div class="chart-container">
    <ngx-charts-line-chart
      [view]="view"
      [scheme]="colorScheme"
      [results]="country$ | async"
      [legend]="showLegend"
      [xAxis]="true"
      [yAxis]="true"
      [autoScale]="false"
      [xAxisTickFormatting]="formatXAxisTick.bind(this)"
      (select)="onSelect($event)">
    </ngx-charts-line-chart>
    <h2 class="title">{{ (country$ | async)?.[0]?.name }}</h2>
  </div>
  <div class="container">
    <app-button buttonText="Retour"></app-button>
  </div>
</div>


