.chart-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    padding: 16px;
    box-sizing: border-box;
}

ngx-charts-legend {
    max-width: 100%;
}

@media (max-width: 600px) {
    .chart-container {
        height: auto;
    }

    ngx-charts-pie-chart {
        max-width: 100%;
    }

    ngx-charts-legend {
        margin-top: 20px;
    }
}